# Maven / Java
target/
*.log
*.class

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
**/application-local.yml

# Node
node_modules/
dist/

# Jenkins / Build Output
/build-output/
/campus-trade-deploy/

# Temporary
tmp/
temp/